.name {
  float: left;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 35px;
  color: rgb(179, 27, 27);
  background-color: black;
  
}
.Buttons {
  float: right;
  font-size: 35px;
}
* {
  box-sizing: border-box;
}
nav {
  display: block;
}
header {
  font-size: 2rem;
  position: fixed;
  left: 0;
  right: 0;
  padding: 0.5em 1em;
  box-shadow: 0 2px 4px -2px rgb(174, 158, 158);
  background-color: black;
  display:block;
}
main {
  min-height: 100vh;
  padding: 64px 24px 96px;
  box-shadow: 0 0 12px -2px black;
  color: rgb(234, 226, 226);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(21, 21, 35);
   display: block;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 300px;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 300px;
}
.stonk {
  overflow-clip-margin: content-box;
  overflow: clip;
  width: 300px;
  float: right;
}
.quote {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, cursive;
  font-weight: 100;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 3em;
  text-align: center;
  margin-top: 2em;
}
  footer {
    box-sizing: border-box;
    position: fixed;
    height: 64px;
    padding: 16px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    box-shadow: 0 -2px 4px -2px black;
    background-color: rgb(6, 6, 6);
}
 p {
  color:rgb(234, 226, 226); 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
body {
  background: rgb(196, 195, 198);
  max-width: 960px;
  color: #232323;
  margin: 0px auto;
}
a { color:rgb(179, 27, 27);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
section {
  border-top: 1px solid #bbb;
}
section:nth-of-type(odd) > img {
  float: left;
  margin: 0 24px 24px 0;
}
section > img {
  height: 128px;
}
.watermark {
  color:rgb(234, 226, 226); 
  font:icon;
  font-size: small;
  float:left;
}
section:nth-of-type(even) > img {
  float: right;
  margin: 0 0 24px 24px;
}
.fp-project {
  font-family: 'Raleway', sans-serif;
    font-size: 1em;
    width: calc(100% - 6em);
    background: #ffebcc;
    background: #fafafa;
    color: #222;
    box-shadow: 0 3px 6px -2px #ccc;
    margin: 2em auto;
    padding: 1em;
}
.h1-des {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 2rem;
  border-bottom: 1px solid #ccc;
}
.grocery-title {
  font-weight: 900;
  font-size: 2em;
  margin: 0 0 1em;
  border-bottom: 1px solid #ccc;
}


